%ul
  %li= link_to "Comics I've made", comics_path
  %li
    %a{href: "https://github.com/chrisccerami"} Code I've written
  %li
    %a{href: "https://api.nasa.gov/api.html#MarsPhotos"} The NASA Mars rover photos API I maintain
  %li
    %a{href: "https://twitter.com/chrisccerami"} Twitter
