body {
  background-color: #D0FFF5;
  font-family: 'carbon';
  margin: 0;
}

.comic {
  h2 {
    text-align: center;
  }
}

.comic-list {
  img {
    height: 300px;
  }
}

.page {
  .frame {
    text-align: center;

    img {
      height: 80vh;
      border: 2px solid black;
    }
  }

  .pagination {
    text-align: center;

    .disabled-link {
      cursor: not-allowed;
      color:grey;
    }
  }
}

.navbar {
  background-color: #E2ABF5;
  text-align: left;
  padding: 15px;

  a {
    margin-left: 5%;
    color: #7E7A80;
    font-size: 45px;
    text-decoration: none;
    font-family: 'SaucerBB';
  }
}

.content {
  padding: 20px;

  li {
    padding: 5px;
    list-style: none;
  }
}

@font-face {
font-family: 'SaucerBB';
src: url('SaucerBB.ttf') format('truetype');
}

@font-face {
font-family: 'carbon';
src: url('carbon.ttf') format('truetype');
}
